In [3]:
import pandas as pd 
import numpy as np
import itertools

In [4]:
times = ['first_hour', 'second_hour']
modes = ['training', 'testing']
target_cols = ['tornado', 'severe_hail', 'severe_wind']

for time, mode, target_col in itertools.product(times, modes, target_cols):
    df = pd.read_feather(
        f'/work/mflora/ML_DATA/DATA/original_{time}_{mode}_matched_to_{target_col}_0km_data.feather')
    
    dates = np.unique(df['Run Date'])
    df = pd.DataFrame({'Dates' : dates})
    
    df.to_feather(f'/work/mflora/ML_DATA/DATA/original_dates/{mode}_{time}_{target_col}_dates.feather')

In [6]:
pd.read_feather('/work/mflora/ML_DATA/DATA/original_dates/testing_first_hour_severe_hail_dates.feather')

       Dates
0   20170524
1   20170526
2   20180502
3   20180503
4   20180510
5   20180515
6   20180521
7   20180523
8   20180525
9   20180529
10  20180531
11  20180601
12  20180619
13  20180630
14  20190516
15  20190523
16  20190530

In [7]:
pd.read_feather('/work/mflora/ML_DATA/DATA/original_dates/testing_second_hour_severe_hail_dates.feather')

       Dates
0   20170524
1   20170530
2   20180429
3   20180507
4   20180515
5   20180519
6   20180523
7   20180530
8   20180531
9   20180624
10  20180629
11  20190502
12  20190507
13  20190513
14  20190521
15  20190522
16  20190528