In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
duration = (30-17)*60 
date = '20180502' #'20210504', '20180502'
initial_time = f'{date}1700'

In [11]:
dtype = {'VALID': np.int64, 'LAT':np.float64, 'LON':np.float64, 
        'MAG':np.float64, 'EVENT_TYPE':object, 'TOR_F_SCALE' :object}

df = pd.read_csv('/work/mflora/LSRS/STORM_DATA_2017-2020.csv', dtype=dtype, na_values = 'None')
df['date'] = pd.to_datetime(df.VALID.astype(str), format='%Y%m%d%H%M')

In [12]:
len(df)

124820

In [4]:
# Convert the datetime string to a datetime object 
start_date = datetime.strptime(initial_time, '%Y%m%d%H%M') 
end_date = start_date + timedelta(minutes=duration)
               
time_mask = (df.date >= start_date) & (df.date <= end_date)

In [10]:
print(start_date, end_date)

2018-05-02 17:00:00 2018-05-03 06:00:00

In [7]:
lat_rng = (32.80683517, 39.75881195)
lon_rng = (-103.16262817, -94.16781616)

In [8]:
lat_mask = (df.LAT.values >= lat_rng[0]) & (df.LAT.values <= lat_rng[1])
lon_mask = (df.LON.values >= lon_rng[0]) & (df.LON.values <= lon_rng[1])

In [13]:
np.sum(time_mask & event_mask)

34

In [9]:
event_mask = df.EVENT_TYPE=='Tornado'
df[time_mask & event_mask & lat_mask & lon_mask]
#df[df['EVENT_TYPE']=='Tornado']

,Unnamed: 0,EVENT_TYPE,CZ_TIMEZONE,MAG,TOR_F_SCALE,LAT,LON,VALID,date
33240,12875,Tornado,CST-6,NaN,EF0,38.2357,-97.5514,201805022151,2018-05-02 21:51:00
33300,13017,Tornado,CST-6,NaN,EF0,38.0536,-96.6675,201805022351,2018-05-02 23:51:00
33396,13241,Tornado,CST-6,NaN,EF0,39.0220,-97.9150,201805022105,2018-05-02 21:05:00
37769,21878,Tornado,CST-6,NaN,EF0,39.5830,-96.7142,201805022230,2018-05-02 22:30:00
37770,21879,Tornado,CST-6,NaN,EF0,39.6811,-96.5196,201805022247,2018-05-02 22:47:00
37771,21880,Tornado,CST-6,NaN,EF0,38.2829,-95.9980,201805030045,2018-05-03 00:45:00
37996,22209,Tornado,CST-6,NaN,EF0,38.4080,-95.9100,201805030051,2018-05-03 00:51:00
38963,23652,Tornado,CST-6,NaN,EF0,38.4360,-95.7230,201805030104,2018-05-03 01:04:00
41659,29316,Tornado,CST-6,NaN,EF0,34.9390,-99.3180,201805022127,2018-05-02 21:27:00
41660,29318,Tornado,CST-6,NaN,EFU,34.9530,-99.2130,201805022138,2018-05-02 21:38:00
41661,29319,Tornado,CST-6,NaN,EFU,34.2700,-98.9770,201805022321,2018-05-02 23:21:00
41822,29595,Tornado,CST-6,NaN,EFU,34.1950,-98.6760,201805030002,2018-05-03 00:02:00
41823,29596,Tornado,CST-6,NaN,EF0,35.0280,-97.3540,201805030152,2018-05-03 01:52:00
41886,29687,Tornado,CST-6,NaN,EF0,34.9260,-99.3280,201805022125,2018-05-02 21:25:00
41887,29688,Tornado,CST-6,NaN,EFU,34.2580,-99.0790,201805022310,2018-05-02 23:10:00
42383,30340,Tornado,CST-6,NaN,EFU,34.2169,-99.3235,201805022246,2018-05-02 22:46:00
53154,46500,Tornado,CST-6,NaN,EF1,34.7530,-98.0560,201805030055,2018-05-03 00:55:00
53155,46501,Tornado,CST-6,NaN,EF1,35.1300,-97.9470,201805030058,2018-05-03 00:58:00
53156,46502,Tornado,CST-6,NaN,EF1,35.1600,-97.8660,201805030105,2018-05-03 01:05:00
53334,46792,Tornado,CST-6,NaN,EF1,35.2516,-97.4296,201805030142,2018-05-03 01:42:00
53335,46793,Tornado,CST-6,NaN,EF1,34.9920,-97.3940,201805030148,2018-05-03 01:48:00
53336,46794,Tornado,CST-6,NaN,EF1,35.1570,-96.9740,201805030219,2018-05-03 02:19:00
55289,50617,Tornado,CST-6,NaN,EF1,34.2311,-98.9415,201805022326,2018-05-02 23:26:00
55291,50619,Tornado,CST-6,NaN,EF1,34.2934,-98.8763,201805022334,2018-05-02 23:34:00
55419,50919,Tornado,CST-6,NaN,EF2,34.3240,-98.8090,201805022347,2018-05-02 23:47:00
55420,50920,Tornado,CST-6,NaN,EF1,34.3290,-98.6890,201805030007,2018-05-03 00:07:00
55421,50921,Tornado,CST-6,NaN,EF1,34.3360,-98.6620,201805030010,2018-05-03 00:10:00
56793,54907,Tornado,CST-6,NaN,EF0,38.9688,-94.4835,201805030224,2018-05-03 02:24:00
56794,54908,Tornado,CST-6,NaN,EF0,38.8111,-94.5321,201805030222,2018-05-03 02:22:00
57130,55600,Tornado,CST-6,NaN,EF1,38.8740,-94.6922,201805030209,2018-05-03 02:09:00
57231,55846,Tornado,CST-6,NaN,EF0,38.9945,-94.4735,201805030226,2018-05-03 02:26:00